@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.profile-card { 
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.profile-details {
    background: url('./images/bg-pattern-card.svg') no-repeat;
    background-size: contain;
    background-color: #FFFFFF;
    border-radius: 15px 15px 0 0;
    text-align: center;
}

.profile-card img {
    border: 5px solid #FFFFFF;
    border-radius: 50%;
    margin-top: 85px;
    margin-left: auto;
    margin-right: auto;
}

.profile-name,
.stats-value {
    font-weight: bold;
    color: hsl(229, 23%, 23%);
}

.profile-stats {
    background-color: #FFFFFF;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid hsl(0, 0%, 90.6%);
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 30px 40px;
    text-align: center;
}

.profile-stat {
    display: inline-block;
    text-align: center;
    width: 70px;
}

.stats-label {
    color: hsl(0, 0%, 59%);
    font-size: 11px;
    letter-spacing: 1px;
    margin-top: 7px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }