@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --cyan: hsl(184, 100%, 22%);
    --dark-cyan: hsl(179, 100%, 13%);
    --light-gray: hsl(0, 0%, 95%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --title-font-family: 'Big Shoulders Display';
    --base-font-family: 'Lexend Deca';
    --base-font-size: 15px;
}

body {
    background-color: var(--light-gray);
    font-size: var(--base-font-size);
    font-family: var(--base-font-family), sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    margin-right: auto;
    margin-left: auto;
    width: 920px;
    max-width: 90vw;
}

.card {
	border-radius: 10px;
	overflow: hidden;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.attribution {
    margin: 20px 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}