@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    color: hsl(238, 29%, 16%);
}

h1 {
    font-size: 32px;
    margin: 0;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.faq-accordion-card-container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

.faq-accordion-card {
    background-color: #FFFFFF;
    border-radius: 25px;
    -webkit-box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
}

.faq-visuals-container {
    background: url(./images/bg-pattern-desktop.svg) bottom 33% right -15% no-repeat;
    position: relative;
}

.faq-visuals-main-container {
    overflow: hidden;
}

.faq-visuals-main {
    margin-left: -85px;
    margin-top: calc((100% - 360px) / 2);
}

.faq-visuals-box {
    position: absolute;
    left: -93px;
    top: 185px;
}

.faq-content {
    padding: 70px 90px 70px 15px;
}

.accordions {
    margin-top: 20px;
}

.accordion-header {
    /*color: hsl(238, 29%, 16%);*/
    color: hsl(237, 12%, 33%);
    /*color: hsl(240, 6%, 50%);*/
    font-size: 14px;
    padding: 20px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    display: flex;
    justify-content: space-between;
}

.accordion-header .toggle {
    border: none;
    outline: none;
    height: 15px;
    width: 7px;
    background: none;
    line-height: 0;
    margin: 0 10px;
}

.accordion-header .toggle::after {
    background : url(./images/icon-arrow-down.svg) no-repeat;
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 7px;
    width: 10px;

}

.accordion-content {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 20px 0;
}

.attribution a { color: hsl(228, 45%, 44%); }