@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    min-height: 100vh;
    color: hsl(238, 29%, 16%);
}

h1 {
    font-size: 32px;
    margin: 0;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.faq-accordion-card-container {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
}

.faq-accordion-card {
    background-color: #FFFFFF;
    border-radius: 25px;
    -webkit-box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
}

.faq-visuals-container {
    background: url(./images/bg-pattern-desktop.svg) bottom 32% right -14% no-repeat;
    position: relative;
}

.faq-visuals-main-container {
    overflow: hidden;
}

.faq-visuals-main {
    margin-left: -85px;
    margin-top: 70px;
}

.faq-visuals-box {
    position: absolute;
    left: -93px;
    top: 205px;
}

.faq-content {
    padding: 75px 95px 85px 15px;
}

.accordions {
    margin-top: 25px;
}

.accordion {
    transition: all 0.25s ease-in-out;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 17px 0;
}

.accordion-header {
    color: hsl(237, 12%, 33%);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.accordion-header:hover {
    color: hsl(14, 88%, 65%);
    cursor: pointer;
}

.accordion-header .toggle {
    border: none;
    outline: none;
    background: none;
    line-height: 0;
    margin: 0 10px;
}

.accordion-header .toggle::after {
    background : url(./images/icon-arrow-down.svg) no-repeat;
    content: '';
    vertical-align: middle;
    display: inline-block;
    height: 7px;
    width: 10px;
    transition: all 0.25s ease-in-out;
}

.accordion-content {
    color: hsl(240, 6%, 50%);
    margin-top: 10px;
    line-height: 1.5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
}


.accordion.active .accordion-header {
    font-weight: bold;
}

.accordion.active .accordion-header .toggle:after {
    transform: rotate(180deg);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin: 20px 0;
}

.attribution a { color: hsl(228, 45%, 44%); }