@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    color: hsl(238, 29%, 16%);
}

h1 {
    margin: 0;
    font-size: 32px;
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.faq-accordion-card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
    margin-right: auto;
    margin-left: auto;
    width: 920px;
    max-width: 90vw;
}

.faq-accordion-card {
    -moz-box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 11px 60px -15px rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    background-color: #FFFFFF;
}

.faq-visuals-container {
    position: relative;
    background: url(./images/bg-pattern-desktop.svg) top -300px left calc(100% - 68px) no-repeat;
}

.faq-visuals-main-container {
    overflow: hidden;
}

.faq-visuals-main {
    margin-top: 70px;
    margin-left: calc(100% - 541px);
}

.faq-visuals-main-mobile {
    display: none;
}

.faq-visuals-box {
    position: absolute;
    top: 205px;
    left: calc(100% - 553px);
}

.faq-content {
    padding: 75px 95px 85px 15px;
}

.accordions {
    margin-top: 25px;
}

.accordion {
    transition: all 0.25s ease-in-out;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 17px 0;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: hsl(237, 12%, 33%);
}

.accordion:hover, .accordion:hover .toggle {
    cursor: pointer;
}

.accordion:hover .accordion-header {
    color: hsl(14, 88%, 65%);
}

.accordion-header .toggle {
    margin: 0 10px;
    border: none;
    outline: none;
    background: none;
    line-height: 0;
}

.accordion-header .toggle::after {
    content: '';
    vertical-align: middle;
    display: inline-block;
    transition: all 0.25s ease-in-out;
    width: 10px;
    height: 7px;
    background : url(./images/icon-arrow-down.svg) no-repeat;
}

.accordion-content {
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    max-height: 0;
}

.accordion-content p {
    margin: 10px 0 0 0;
    line-height: 1.5;
    color: hsl(240, 6%, 50%);
}


.accordion.active .accordion-header {
    font-weight: bold;
}

.accordion.active .accordion-header .toggle:after {
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .faq-content {
        padding-right: 50px;
        padding-left: 20px;
    }

    .faq-visuals-container {
        background: url(./images/bg-pattern-desktop.svg) top -300px left calc(100% - 7px) no-repeat;
    }

    .faq-visuals-main {
        margin-left: calc(100% - 480px);
    }

    .faq-visuals-box {
        left: calc(100% - 492px);
    }
}

@media screen and (max-width: 887px) {
    .faq-visuals-container {
        overflow: hidden;
    }
}

@media screen and (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .faq-accordion-card-container {
        position: initial;
        top: initial;
        left: initial;
        -ms-transform: none;
        -webkit-transform: none;
        transform: none;
        margin-top: 150px;
        margin-bottom: 50px;
        max-width: 85vw;
    }

    .faq-visuals-container, .faq-visuals-main-container {
        overflow: visible;
    }

    .faq-visuals-container {
        min-height: 135px;
        background: url(./images/bg-pattern-mobile.svg) top left 50% no-repeat;
        background-size: 240px;
    }

    .faq-visuals-main {
        display: none;
    }

    .faq-visuals-main-mobile {
        display: block;
        -ms-transform: translate(-15px, 0); /* IE 9 */
        -webkit-transform: translate(-15px, 0); /* Chrome, Safari, Opera */
        transform: translate(-15px, 0);
        margin-top: -108px;
        margin-right:auto;
        margin-left: auto;
    }

    .faq-visuals-box {
        display: none;
    }

    .faq-content {
        padding: 0 20px 60px 20px;
    }

    .faq-content h1 {
        text-align: center;
    }

    .accordion-header {
        font-size: 13px;
    }

    .accordion-header .toggle {
        margin: 0;
    }
}

.attribution { 
    margin: 20px 0;
    font-size: 11px; 
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
