@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --desaturated-dark-blue: hsl(214, 17%, 51%);
    --dark-gray-blue: hsl(217, 19%, 35%);
    --gray-blue: hsl(212, 23%, 69%);
    --light-gray-blue: hsl(210, 46%, 95%);
    --white: hsl(0, 100%, 100%);
    --base-font-family: 'Manrope';
    --base-font-size: 13px;
}

body {
    background-color: var(--light-gray-blue);
    font-size: var(--base-font-size);
    font-family: var(--base-font-family), sans-serif;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    transform: translate(-50%, -50%);
}

.article-card {
    align-items: stretch;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    width: 730px;
    background-color: var(--white);
}

.article-card__image {
    border-radius: 10px 0 0 10px;
    min-width: 285px;
    background: url(./images/drawers.jpg) top 50% left 50% no-repeat;
    background-size: cover;
}

.article-card__content {
    padding: 40px;
}

.article-card__header h2 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: var(--dark-gray-blue);
}

.article-card__excerpt {
    margin: 20px 0;
    line-height: 1.5;
    letter-spacing: .175px;
    color: var(--desaturated-dark-blue);
}

.article-card__meta {
    align-items: center;
    display: flex;
}

.article-card__footer {
    justify-content: space-between;
    display: flex;
}

.article-card__author-avatar {
    margin-right: 15px;
}

.article-card__author-avatar img {
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.article-card__author-name {
    line-height: 1.75;
    font-weight: 700;
    color: var(--dark-gray-blue);
}

.article-card__publish-date {
    color: var(--gray-blue);
}

.article-card__share {
    position: absolute;
    display: none;
}

.attribution {
    margin: 20px 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}