@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

body {
    margin: 0;
    min-height: calc(100vh - 135px);
    background: url(./images/bg-pattern-top-desktop.svg) top left no-repeat, url(./images/bg-pattern-bottom-desktop.svg) bottom right no-repeat, hsl(0, 0%, 100%);
    font-size: 14px;
    font-family: 'Spartan', sans-serif;
}

h1 {
    margin: 0;
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    letter-spacing: -1.55px;
    color: hsl(300, 43%, 22%);
}

h2 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 400;
    letter-spacing: -.45px;
    color: hsl(303, 10%, 53%);
}

.row {
    display: flex;
}

.column {
    flex: 1;
}

.social-proof-container {
    margin-top: 135px;
    margin-right: auto;
    margin-left: auto;
    width: 77vw;
    min-width: min-content;
    max-width: 90vw;
}

.header-container {
    margin-right: 9vw;
}

@media screen and (max-width: 1163px) {
    .header-container {
        margin-right: 20px;
    }
}

.rating-container:nth-child(1) {
    margin-right: 95px;
}

.rating-container:nth-child(2) {
    margin-right: 45px;
}

.rating-container:nth-child(3) {
    margin-right: 0px;
}

.rating-container { 
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: auto;
    border-radius: 10px;
    width: 27vw;
    max-width: 385px;
    padding: 20px 30px;
    background-color: hsl(300, 24%, 96%);
    font-weight: 700;
    letter-spacing: -.45px;
    color: hsl(300, 43%, 22%);
}

.stars, .rating {
    display: flex;
    height: min-content;
    font-size: 14px;
}

.stars {
    margin-right: 25px;
}

.star {
    display: inline-block;
}

.star:not(:last-child) {
    margin-right: 8px;
}

.reviews-container {
    justify-content: space-between;
    margin-top: 70px;
}

.review-container {
    border-radius: 10px;
    height: min-content;
    padding: 40px 32px;
    background-color: hsl(300, 43%, 22%);
    font-size: 13px;
    color: hsl(300, 24%, 96%);
}

.review-container:not(:last-child) {
    margin-right: 30px;
}

.review-container:nth-child(1) {
    margin-top: 0px;
}

.review-container:nth-child(2) {
    margin-top: 16px;
}

.review-container:nth-child(3) {
    margin-top: 32px;
}

.profile-container {
    display: flex;
    align-items: center;
}

.profile-image-container img {
    display: block;
    object-fit: contain;
    margin-right: 23px;
    border-radius: 50%;
    height: 40px;
}

.profile-details-container {
    flex: 1 1 auto;
}

.profile-name {
    margin-top: 5px;
    margin-bottom: 6px;
    font-weight: 700;
}

.verified-buyer {
    color: hsl(333, 80%, 67%);
}

.review {
    margin: 30px 0 0 0;
    font-size: 13px;
    line-height: 1.75;
    letter-spacing: -.2px;
}

@media screen and (max-width: 1097px) {
    .review-container {
        height: auto;
    }
}

@media screen and (max-width: 950px) {
    .social-proof-container {
        margin-bottom: 100px;
        width: 87.5vw;
        max-width: 87.5vw;
    }

    h1 {
        font-size: 32px;
        letter-spacing: -1px;
    }

    h2 {
        margin-top: 25px;
        letter-spacing: -.35px;
    }

    .header-container {
        margin-right: auto;
        text-align: center;
    }

    .row {
        flex-direction: column;
    }

    .rating-container:nth-child(1) {
        margin-top: 40px;
    }

    .rating-container {
        margin-right: auto !important;
        width: unset;
        max-width: unset;
    }

    .reviews-container {
        margin-top: 50px;
    }

    .review-container {
        margin-right: auto !important;
    }

    .review-container:not(:first-child) {
        margin-top: 16px !important;
    }

    .review {
        letter-spacing: -.15px;
    }
}

@media screen and (max-width: 640px) {
    body {
        min-height: calc(100vh - 85px);
        background: url(./images/bg-pattern-top-mobile.svg) top left no-repeat, url(./images/bg-pattern-bottom-mobile.svg) bottom right no-repeat, hsl(0, 0%, 100%);
    }

    h1 {
        margin-right: auto;
        margin-left: auto;
        width: 80vw;
    }

    .social-proof-container {
        margin-top: 85px;
        margin-bottom: 50px;
    }

    .rating-container {
        flex-direction: column;
        padding: 15px;
    }

    .stars {
        margin-right: unset;
        margin-bottom: 15px;
    }
}

.attribution {
    margin: 20px 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
